{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	<meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
	{% block head %}
		<title>Ace Web Designs | Home</title>
	{% endblock %}

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		{% block content %}
		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-angle include-header">

			<!-- Slider Background Map
			============================================= -->
			<img class="img-map parallax position-absolute" src="{% static 'home/demos/hosting/images/svg/map-light.svg' %}" alt="Image" data-0="opacity: 0.05;margin-top:0px" data-800="opacity: 0.5;margin-top:150px">

			<!-- Slider Background Cloud
			============================================= -->
			<div class="cloud-wrap">
				<div class="c1"><div class="cloud"></div></div>
				<div class="c2"><div class="cloud"></div></div>
				<div class="c3"><div class="cloud"></div></div>
				<div class="c4"><div class="cloud"></div></div>
				<div class="c5"><div class="cloud"></div></div>
			</div>

			<!-- Slider Titiles
			============================================= -->
			<div class="vertical-middle container dark">
				<div class="row justify-content-between align-items-center">
					<div class="col-md-5">
						<div class="slider-title">
							<h2 style="font-size: 38px;" class="text-white text-rotater mb-3" data-separator="," data-rotate="fadeIn" data-speed="3500">Let us build you a<br> <span class="t-rotate text-white">Awesome,Beautiful,Great</span> Website.</h2>
							<p style="font-size: 18px;">We build bespoke websites which are completely unique, designed and tailored around your brand, customer and goals so you stand out from your competitors.</p>
						</div>
						<a href="#" class="button bg-white text-dark button-light button-rounded button-large color ms-0">Get in touch <i class="icon-line-arrow-right fw-semibold"></i></a>
					</div>
					<div class="col-md-5 d-none d-md-block">
						<img src="{% static 'home/demos/hosting/images/3.svg' %}" alt="Image">
					</div>
				</div>
			</div>

		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap py-0">

				<div class="container clearfix">

					<!-- Slider negetive Box
					============================================= -->
					<div class="row justify-content-center slider-box-wrap clearfix">
						<div class="col-10">
							<div class="slider-bottom-box">
								<div class="row align-items-center clearfix">
									<div class="col-lg-4 mb-3 mb-lg-0">
										<h2 class="mb-3 h1 fw-light">Why choose us?</h2>
										<p style="font-size: 14px;" class="fw-normal text-muted mb-0">Let our team of experts make your ideas come alive so that they reach their potential.</p>
									</div>
									<div class="col-lg-4 col-sm-6">
										<ul class="iconlist m-0">
											<li><img src="{% static 'home/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="Image" class="me-2">No monthly cost or hidden fees</li>
											<li class="pt-3"><img src="{% static 'home/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="Image" class="me-2">Quick turnovers</li>
											<li class="pt-3"><img src="{% static 'home/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="Image" class="me-2">Website that works on all devices</li>
										</ul>
									</div>
									<div class="col-lg-4 col-sm-6">
										<ul class="iconlist m-0">
											<li class="pt-3 pt-lg-0"><img src="{% static 'home/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="Image" class="me-2">100% Satisfaction</li>
											<li class="pt-3"><img src="{% static 'home/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="Image" class="me-2">24/7 service available</li>
											<li class="pt-3"><img src="{% static 'home/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="Image" class="me-2">Free consultation</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Pricing Section
				============================================= -->
				<div class="section bg-angle mt-0" style="background: #F9F9F9; padding: 80px 0">
					<div class="container clearfix">
						<div class="heading-block center mt-0 mx-auto border-bottom-0 clearfix" style="max-width: 750px">
							<h2>Affordable packages to suit your needs</h2>
							<p>Bespoke website design packages to suit your business goals and budgets.</p>
						</div>

						<div class="row mb-2 align-items-stretch">
							<!-- Price Area -->
							<div class="col-lg-4 col-md-4 mt-4 mt-md-0">
								<div class="card text-center">
									<div class="card-body py-4">
										<h3 style="font-size: 24px;" class="card-title fw-normal">Professional website</h3>
										<!-- Price Value -->
										<div style="font-size: 28px;" class="pricing-price fw-semibold py-2">from £195</div>
									</div>
									<div class="line my-1"></div>
									<div class="card-body py-4">
										<ul class="iconlist ms-0" style="opacity: .8">
											<li style="font-size: 18px;">Fully responsive design</li>
											<li style="font-size: 18px;">Dedicated SSL certification</li>
											<li style="font-size: 18px;">SEO optimisation</li>
											<li style="font-size: 18px;">After service care</li>
										</ul>
										<a href="#" style="font-size: 18px; width: 40%;" class="button button-rounded button-large ls0 fw-normal m-0 nott">Order Now</a>
									</div>
								</div>
							</div>

							<!-- CARD 2 -->
							<div class="col-lg-4 col-md-4 mt-4 mt-md-0">
								<div class="card text-center">
									<div class="card-body py-4">
										<h3 style="font-size: 24px;" class="card-title fw-normal">E-Commerce Websites</h3>
										<!-- Price Value -->
										<div style="font-size: 28px;" class="pricing-price fw-semibold py-2">from £495</div>
									</div>
									<div class="line my-1"></div>
									<div class="card-body py-4">
										<ul class="iconlist ms-0" style="opacity: .8">
											<li style="font-size: 18px;">Custom online store</li>
											<li style="font-size: 18px;">Content Management</li>
											<li style="font-size: 18px;">Cart and checkout</li>
											<li style="font-size: 18px;">Secure payment intergration</li>
										</ul>
										<a href="#" style="font-size: 18px; width: 40%;" class="button button-rounded button-large ls0 fw-normal m-0 nott">Order Now</a>
									</div>
								</div>
							</div>

							<!-- CARD 3 -->
							<div class="col-lg-4 col-md-4 mt-4 mt-md-0">
								<div class="card text-center">
									<div class="card-body py-4">
										<h3 style="font-size: 24px;" class="card-title fw-normal">Commercial / Industries</h3>
										<!-- Price Value -->
										<div style="font-size: 28px;" class="pricing-price fw-semibold py-2">call for more info</div>
									</div>
									<div class="line my-1"></div>
									<div class="card-body py-4">
										<ul class="iconlist ms-0" style="opacity: .8">
											<li style="font-size: 18px;">Dynamic online marketplace</li>
											<li style="font-size: 18px;">Inventory management system</li>
											<li style="font-size: 18px;">Business insights and traffic report</li>
											<li style="font-size: 18px;">User friendly interface</li>
										</ul>
										<a href="#" style="font-size: 18px; width: 40%;" class="button button-rounded button-large ls0 fw-normal m-0 nott">Order Now</a>
									</div>
								</div>
							</div>
						</div>

						<div class="clear"></div>

						<!-- <div class="row mt-5 clearfix">
							<div class="col-lg-3 col-sm-6">
								<h4 class="fw-medium mb-3">Free Includes:</h4>
								<ul class="iconlist price-compare mb-2">
									<li><a href="#" class="fw-light">Unmetered Mitigation of DDoS</a></li>
									<li><a href="#" class="fw-light">Global CDN</a></li>
									<li><a href="#" class="fw-light">Shared SSL certificate</a></li>
									<li><a href="#" class="fw-light">I'm Under Attack™ mode</a></li>
									<li><a href="#" class="fw-light">Access to account Audit Logs</a></li>
								</ul>
								<a href="#" class="btn btn-link mt-2 fw-normal color p-0" style="font-size: 14px">All Features &#8250;</a>
							</div>
							<div class="col-lg-3 col-sm-6 mt-4 mt-sm-0">
								<h4 class="fw-medium mb-3">Pro Includes:</h4>
								<ul class="iconlist price-compare mb-2">
									<li><a href="#" class="fw-light">100 GB of disk space</a></li>
									<li><a href="#" class="fw-light">1000 GB/mo data transfer</a></li>
									<li><a href="#" class="fw-light">1 domain + 100 subdomains</a></li>
									<li><a href="#" class="fw-light">10 site pages</a></li>
									<li><a href="#" class="fw-light">5 email addresses</a></li>
									<li><a href="#" class="fw-light">Site design tools</a></li>
									<li><a href="#" class="fw-light">Account access for colleagues/friends</a></li>
								</ul>
								<a href="#" class="btn btn-link mt-2 fw-normal color p-0" style="font-size: 14px">All Features &#8250;</a>
							</div>
							<div class="col-lg-3 col-sm-6 mt-4 mt-lg-0">
								<h4 class="fw-medium mb-3">Business Includes:</h4>
								<ul class="iconlist price-compare mb-2">
									<li><a href="#" class="fw-light">Unlimited site pages</a></li>
									<li><a href="#" class="fw-light">10 email addresses</a></li>
									<li><a href="#" class="fw-light">500 GB of disk space</a></li>
									<li><a href="#" class="fw-light">5000 GB/mo data transfer</a></li>
									<li><a href="#" class="fw-light">1 domain + 500 subdomains</a></li>
									<li><a href="#" class="fw-light">Secure FTP File Manager</a></li>
									<li><a href="#" class="fw-light">Canvas blogging</a></li>
									<li><a href="#" class="fw-light">PHP 5.3.6, Perl 5.8.7, MySQL 5.1</a></li>
								</ul>
								<a href="#" class="btn btn-link mt-2 fw-normal color p-0" style="font-size: 14px">All Features &#8250;</a>
							</div>
							<div class="col-lg-3 col-sm-6 mt-4 mt-lg-0">
								<h4 class="fw-medium mb-3">Advanced Includes:</h4>
								<ul class="iconlist price-compare mb-2">
									<li><a href="#" class="fw-light">20 email addresses</a></li>
									<li><a href="#" class="fw-light">Unlimited disk space</a></li>
									<li><a href="#" class="fw-light">Unlimited data transfer</a></li>
									<li><a href="#" class="fw-light">Private registration</a></li>
									<li><a href="#" class="fw-light">Named solution and customer success engineers
									Access to China data centers (additional cost)</a></li>
									<li><a href="#" class="fw-light">30-day satisfaction guarantee</a></li>
									<li><a href="#" class="fw-light">24/7 phone, chat and online support</a></li>

								</ul>
								<a href="#" class="btn btn-link mt-2 fw-normal color p-0" style="font-size: 14px">All Features &#8250;</a>
							</div>
						</div> -->
					</div>
				</div>

					<!-- Features Section
					============================================= -->
					<div class="heading-block center topmargin-lg mx-auto border-bottom-0 clearfix" style="max-width: 700px">
						<h2>A service to suit your needs</h2>
						<p>If your looking for bespoke affordable website giving you more value for your money then look no further. No matter how small or big a project we treat it with the highest level of creativity.</p>
					</div>
					<div class="row col-mb-50 mb-0 mt-4">		
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark">
								<div class="fbox-icon">
									<img src="{% static 'home/demos/hosting/images/svg/web.svg' %}" class="rounded-0 bg-transparent text-start" alt="Image" style="height: 52px;">
								</div>
								<div class="fbox-content">
									<h3 style="font-size: 18px;" class="fw-medium text-dark">Fully responsive design</h3>
									<p style="font-size: 14px;" class="fw-light">Responsive websites are the future! Your site will adapt to different screen sizes so whatever device your visitors are using they get the best possible view of your business.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark">
								<div class="fbox-icon">
									<img src="{% static 'home/demos/hosting/images/svg/cloud.svg' %}" class="rounded-0 bg-transparent text-start" alt="Image" style="height: 52px;">
								</div>
								<div class="fbox-content">
									<h3 style="font-size: 18px;" class="fw-medium text-dark">Ecommerce</h3>
									<p style="font-size: 14px;" class="fw-light">We can build you a fully automated website that allows your visitors to buy goods or services over the internet rather than at a location.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark">
								<div class="fbox-icon">
									<img src="{% static 'home/demos/hosting/images/svg/dedicated.svg' %}" class="rounded-0 bg-transparent text-start" alt="Image" style="height: 52px;">
								</div>
								<div class="fbox-content">
									<h3 style="font-size: 18px;" class="fw-medium text-dark">Conversion ready</h3>
									<p style="font-size: 14px;" class="fw-light">Dedicated server or managed hosting service is a type of Internet hosting in which the client leases an entire server not shared.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark">
								<div class="fbox-icon">
									<img src="{% static 'home/demos/hosting/images/svg/shared.svg' %}" class="rounded-0 bg-transparent text-start" alt="Image" style="height: 52px;">
								</div>
								<div class="fbox-content">
									<h3 style="font-size: 18px;" class="fw-medium text-dark">24/7 service available</h3>
									<p style="font-size: 14px;" class="fw-light">We're pleased to offer a 24-hour support service for clients who need it, so you can rest assured knowing a solution is always a click away.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark">
								<div class="fbox-icon">
									<img src="{% static 'home/demos/hosting/images/svg/domain.svg' %}" class="rounded-0 bg-transparent text-start" alt="Image" style="height: 52px;">
								</div>
								<div class="fbox-content">
									<h3 style="font-size: 18px;" class="fw-medium text-dark">Search Engine Optimisation</h3>
									<p style="font-size: 14px;" class="fw-light">We can help your website to rank higher in search engines such as Google. Ranking higher in search engines can lead to an increase in traffic to a website.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark">
								<div class="fbox-icon">
									<img src="{% static 'home/demos/hosting/images/svg/activation.svg' %}" class="rounded-0 bg-transparent text-start" alt="Image" style="height: 52px;">
								</div>
								<div class="fbox-content">
									<h3 style="font-size: 18px;" class="fw-medium text-dark">Free consultation</h3>
									<p style="font-size: 14px;" class="fw-light">Free and no obligation consultation appointment. Let us what you need, we tell you what we can do for you then you decide, simple as that.</p>
								</div>
							</div>
						</div>
					</div>

				</div>


					</div>
				</div>

				<!-- Loaction Section
				============================================= -->
				<div class="section m-0 bg-transparent">
					<div class="container clearfix">
						<div class="heading-block center mt-0 mx-auto border-bottom-0 clearfix" style="max-width: 700px">
							<h2>The world is your oyster</h2>
							<p>By having your brand recognized internationally, you can expand your brand’s recognition outside of your home country.</p>
						</div>
						<div class="row" style="justify-content: center;">
							<div class="col-lg-7 col-md-6">
								<div id="hotspot-img" class="hotspot-img mt-2 responsive-hotspot-wrap">
							<img src="{% static 'home/demos/hosting/images/svg/map.png' %}" class="img-responsive" alt="Image">

							<!-- Circle #1 -->
							<div class="hot-spot" data-x="1970" data-y="830">
								<div class="circle"></div>
								<div class="tooltip"><p>singapore</p></div>
							</div>
							<!-- Circle #2 -->
							<div class="hot-spot" data-x="330" data-y="522">
								<div class="circle"></div>
								<div class="tooltip"><p>San Fransisco</p></div>
							</div>
							<!-- Circle #3 -->
							<div class="hot-spot" data-x="2350" data-y="1110">
								<div class="circle"></div>
								<div class="tooltip"><p>Sydney</p></div>
							</div>
							<!-- Circle #4 -->
							<div class="hot-spot" data-x="1222" data-y="395">
								<div class="circle"></div>
								<div class="tooltip"><p>London</p></div>
							</div>
							<!-- Circle #5 -->
							<div class="hot-spot" data-x="1800" data-y="760">
								<div class="circle"></div>
								<div class="tooltip"><p>Bangalore</p></div>
							</div>
							<!-- Circle #6 -->
							<div class="hot-spot" data-x="2250" data-y="560">
								<div class="circle"></div>
								<div class="tooltip"><p>Tokyo</p></div>
							</div>
							<!-- Circle #7 -->
							<div class="hot-spot" data-x="1366" data-y="1134">
								<div class="circle"></div>
								<div class="tooltip"><p>Cape Town</p></div>
							</div>
							<!-- Circle #8 -->
							<div class="hot-spot" data-x="880" data-y="990">
								<div class="circle"></div>
								<div class="tooltip"><p>Brasilla</p></div>
							</div>
							<!-- Circle #8 -->
							<div class="hot-spot" data-x="710" data-y="395">
								<div class="circle"></div>
								<div class="tooltip"><p>Toronto</p></div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonials Section
				============================================= -->
				<div class="section">
					<div class="container">

						<div class="heading-block center mt-2 mb-3 mx-auto border-bottom-0 clearfix" style="max-width: 700px">
							<div class="before-heading">See what Our Customers say</div>
							<h2>Ton's of Happy Customers &amp; Counting</h2>
						</div>

						<!-- Owl Carousel
						============================================= -->
						<div id="oc-testimonials" class="owl-carousel center testimonials-carousel testimonial-full carousel-widget mt-5" data-margin="0" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2" data-items-xl="3" data-center="true" data-loop="true" data-autoplay="4000" data-speed="500">

							<!-- Item 1 -->
							{% for testimonial in testimonials %}
							<div class="oc-item">
								<div class="testimonial p-4 border-0 shadow-none">
									{% if testimonial.image %}
									<div class="testi-image">
										<a href="#"><img src="{{ testimonial.image.url }}" alt="Customer Testimonails"></a>
									</div>
									{% endif %}
									<ul class="list-unstyled ms-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li></ul>
									<div class="testi-content">
										<p class="font-body fst-normal">{{testimonial.quote}}</p>
										<div class="testi-meta">
											{{ testimonial.name|title }}
											<span>{{ testimonial.title|title }}</span>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}

						</div>
					</div>
				</div>

				<!-- Trusted Client Section
				============================================= -->
				{% if jobs %}
				<div class="section mt-3 mb-4 pt-0 bg-transparent">
					<div class="container clearfix">
						<div class="mx-auto" style="max-width: 1000px">
							<div class="heading-block center mx-auto border-bottom-0 clearfix" style="max-width: 700px">
								<div class="before-heading">Already with Us</div>
								<h2>Trusted By</h2>
								<p>Competently recaptiualize multifunctional schemas without an expanded array of niches. Continually engage cooperative sources vis-a-vis web-enabled benefits.</p>
							</div>
							<!-- Clients Images -->
							<div class="row clearfix">
								{% for job in jobs %}
								<div class="col-sm-3 col-6 center"><a href="#"><img src="{{ job.image.url }}" alt="Image" class="clients"></a></div>
								{% endfor %}
								<!-- ALL LOGOS NEED TO BE 50px HIGH and MAX 253px WIDE -->
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				<!-- Bottom Section
				============================================= -->
				<div class="section bg-color dark m-0">
					<div class="container">
						<div class="row center justify-content-center">
							<div class="col-md-8">
								<h2 class="fw-bold text-white mb-3">For Free No Obligation Consultation, Contact Us Now.</h2>
							</div>
							<div class="col-md-8">
								<a href="#" class="button center bg-white color button-light button-rounded button-large ms-0">Sign Up for free</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- #content end -->

	{% endblock %}
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="{% static 'home/js/jquery.js' %}"></script>
	<script src="{% static 'home/js/plugins.min.js' %}"></script>

	<script src="{% static 'home/js/jquery.hotspot.js' %}"></script>
	<script src="{% static 'home/js/components/rangeslider.min.js' %}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="{% static 'home/js/functions.js' %}"></script>

	<script>
		jQuery(document).ready( function() {
			var pricingCPU = 1,
				pricingRAM = 1,
				pricingStorage = 10,
				elementCPU = $(".range-slider-cpu"),
				elementRAM = $(".range-slider-ram"),
				elementStorage = $(".range-slider-storage");

			elementCPU.ionRangeSlider({
				grid: false,
				values: [1,2,4,6,8],
				postfix: ' Core',
				onStart: function(data){
					pricingCPU = data.from_value;
				}
			});

			elementCPU.on( 'change', function(){
				pricingCPU = $(this).prop('value');
				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
			});

			elementRAM.ionRangeSlider({
				grid: false,
				step: 1,
				min: 1,
				from:1,
				max: 32,
				postfix: ' GB',
				onStart: function(data){
					pricingRAM = data.from;
					console.log(data);
				}
			});

			elementRAM.on( 'onStart change', function(){
				pricingRAM = $(this).prop('value');
				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
			});

			elementStorage.ionRangeSlider({
				grid: false,
				step: 10,
				min: 10,
				max: 100,
				postfix: ' GB',
				onStart: function(data){
					pricingStorage = data.from;
				}
			});

			elementStorage.on( 'change', function(){
				pricingStorage = $(this).prop('value');
				calculatePrice( pricingCPU, pricingRAM, pricingStorage );
			});

			calculatePrice( pricingCPU, pricingRAM, pricingStorage );

			function calculatePrice( cpu, ram, storage ) {
				var pricingValue = ( Number(cpu) * 10 ) + ( Number(ram) * 8 ) + ( Number(storage) * 0.5 );
				jQuery('.cpu-value').html(pricingCPU);
				jQuery('.ram-value').html(pricingRAM);
				jQuery('.storage-value').html(pricingStorage);
				jQuery('.cpu-price').html('$'+pricingCPU * 10);
				jQuery('.ram-price').html('$'+pricingRAM * 8);
				jQuery('.storage-price').html('$'+pricingStorage * 0.5);
				jQuery('.pricing-price').html( '$'+pricingValue );
			}
		});

		jQuery(window).on( 'load', function(){
			$('#hotspot-img').hotSpot();
		});
	</script>

</body>
</html>