{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	<meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
	{% block head %}
		<title>Ace Web Designs | Contact</title>
		<link rel="stylesheet" href="{% static 'contact/contact.css' %}">
	{% endblock %}

</head>

<body class="stretched">
  {% block content %}
	<div class="container">
		<div class="inner-container">
			<div class="left">
				<iframe class="primary-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.2273207330954!2d-1.877183684750285!3d53.874386542729134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bef8c78a57d1b%3A0xc963810eb1d40a62!2sBradford%20Rd%2C%20Riddlesden!5e0!3m2!1sen!2suk!4v1658509994163!5m2!1sen!2suk" height="190" width="620" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				<div class="contact-details">
					<div class="top-detail">
						<h3 class="sub-title">Office:</h3>
						<p class="par">Ace Digitals Bradford Road Riddlesden 
							Keighley West Yorkshire BD20 5JT</p>
					</div>

					<div class="bottom-detail">
						<div>
							<h3 class="sub-title">Phone:</h3>
							<a class="par" href="tel:07738714253"><p>07738 714253</p></a>
						</div>

						<div>
							<h3 class="sub-title">Email:</h3>
							<a class="par" href="mailto:info@acewebdesigns.co.uk"><p>info@acewebdesigns.co.uk</p></a>
						</div>
					</div>
				</div>
			</div>

			<div class="right">
					<form method="POST"> {% csrf_token %}
            {{ form }}

						<script src='https://www.google.com/recaptcha/api.js'></script>
						<div class="g-recaptcha" data-sitekey="6Lc8mDUhAAAAACz0riM2xkKDPaLIlFPFHhqOMkbZ"></div>
            <button type="submit" class="submit">Submit</button>
          </form>
			</div>
		</div>
	</div>

	<script>
    let nav = document.querySelector("#header");
    nav.style.background = "#282828"
  </script>
  {% endblock %}
</body>
</html>